html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 50px;
  font-family: "Dosis", sans-serif;
}

p {
  font-size: 25px;
}

.container {
  height: 100vh;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

textarea {
  height: 40%;
  width: 80%;
  font-size: 20px;
}
