* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  background: hsl(230 35% 7%);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p {
  background: white;
  width: 250px;
  height: 250px;
  font-size: 30px;
  line-height: 250px;
  display: block;
  border-radius: 50%;
  text-align: center;
  outline: 0px solid rgba(244, 246, 240, 0.5);
  cursor: pointer;
}

/* button animation */
@keyframes sizechange {
  from {
    width: 250px;
    height: 250px;
    line-height: 250px;
  }

  to {
    width: 190px;
    height: 190px;
    line-height: 190px;
    font-size: 22px;
    outline: 70px solid rgba(244, 246, 240, 0.5);
  }
}

p:hover {
  animation-timing-function: ease-in-out;
  animation-name: sizechange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* bacground star animation */
@-webkit-keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#background {
  background: url(/image/background.png) repeat 5% 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;

  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#midground {
  background: url(/image/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -200;

  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#foreground {
  background: url(/image/foreground.png) repeat 35% 35%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;

  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

